@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Arimo&family=Mohave:ital,wght@1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}



.container{
max-width: 700px; 
margin: 0 auto;
height: 700px;
margin-top: 20rem;
}

.form{
    display: inline-block;
    margin-left: 14rem;
    margin-right: 14rem;
   
}

#pwd{
    margin-top: 0.4rem;
    padding: 0.7rem 6rem;
    opacity: 0.5;
}

#email {
    padding: 0.7rem 6rem;
    opacity: 0.5;
    margin-top: 0.4rem;
    height: 3rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    
    
}

#email:hover{
    padding: 0.7rem 6rem;
    opacity: 0.7;
    margin-top: 0.4rem;
    height: 3rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

#help{
    margin-left: 31rem;
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

#rmb{
    margin-top: 1rem;
    margin-left: -1rem;
}
.rmbfix{
    color: #fff;
}
.container h1{
    display: inline-block;
    color: #fff;
    font-family: 'Mohave', sans-serif;
    font-size: 4rem;
    margin-bottom: -2rem;
    margin-left: 12rem;
}

.usrnmicon{
    display: inline-block;
    background: url(./assets/username.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 3rem;
    height: 2.95rem;
    margin-left: -3.0rem;
    margin-top: 0.4rem;
    float: left;
    opacity: 0.6;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

